html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	color: #777;
	font-size: 18px;
	font-family: Calibri;
}

#main-wrapper {
	width: 320px;
	height: 480px;
	position: relative;
	margin: auto;
	background: #f5f5f5;
	border: thin solid #888;
	overflow: hidden;
	box-sizing: border-box;
}

#topbar {
	background: #545454;
	padding: 4px 15px;
	border-bottom: medium solid #ffbb3d;
	/*border-bottom: thin solid #c7ff00;*/
	color: #fff;
	box-shadow: 0 2px 8px #aaa;
}

#sitename {
	display: inline-block;
}

#update-rate {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-top: 12px;
	float: right;
	outline: none;
}

#update-rate img {
	width: 100%;
	height: 100%;
}

#forms {
	width: 300px;
	position: relative;
	margin: auto;
	padding: 15px 0;
}

#forms .form-wrapper {
	margin-bottom: 15px;
}

#forms .form-wrapper label {
	color: #dd9511;
	font-size: 14px;
}

#forms .form-wrapper input,
#forms .form-wrapper select {
	display: block;
	width: 100%;
	margin-top: 4px;
	padding: 4px;
	border: none;
	border-bottom: thin solid #ccc;
	background: none;
	color: #aaa;
	font-family: Calibri;
	box-sizing: border-box;
}

#message {
	text-align: center;
	font-size: 14px;
}

#convert {
	width: 250px;
	background: #545454;
	color: #fff;
	padding: 8px 0;
	border: none;
	border-radius: 20px 20px ;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
	font-family: Calibri;
	font-size: 15px;
	box-shadow: 0 4px 8px #ccc;
}